@import '../../responsive.scss';

.slider {
    max-width: 100%;
    padding-top: 145px;


    @include tabletPro() {
        & {
            padding-top: 172px;
        }
    }

    @include tablet() {
        & {
            padding-top: 98px;
        }
    }

    @include mobilePro() {
        & {
            padding-top: 98px;
        }
    }
    @include mobile() {
        & {
            padding-top: 80px;
        }
    }


    & .slick-dots {
        & li {
            margin: 0 2px;

            & button {
                &:before {
                    font-size: 0.95rem;
                }
            }

            &.slick-active {

                & button {
                    &:before {
                        color: var(--primary-color);
                    }
                }
            }
        }
    }

    & .slick-list {
        height: 444px;



        @include tabletPro() {
            & {
                height: 414px;
            }
        }

        @include tablet() {
            & {
                height: 374.8px;
            }
        }

        @include mobilePro() {
            & {
                height: 260px;
            }
        }

        @include mobile() {
            & {
                height: 130px;
            }
        }


        & .slick-track {
            opacity: 1;
            height: 100%;

            & .slick-slide {
                max-width: 100%;
                transition: all linear 0.5s;
                opacity: 0.6;
                padding: 0 15px;

                & div {
                    height: 100%;
                }

                &.slick-current {
                    opacity: 1;
                }

                & img {
                    border-radius: 16px;
                    height: 100%;
                    cursor: pointer;
                }

            }
        }

    }


    & .slick-prev,
    & .slick-next {
        display: block !important;
        width: 40px;
        height: 40px;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        cursor: pointer;
        border: none;
        outline: none;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.4) !important;
        z-index: 3;
        text-align: center;
        transition: all ease-out 0.15s;

        @include tabletPro() {
            & {
                display: none !important;
            }
        }

        @include tablet() {
            & {
                display: none !important;
            }
        }

        @include mobilePro() {
            & {
                display: none !important;
            }
        }

        @include mobile() {
            & {
                display: none !important;
            }
        }

        &::before {
            display: none;
        }

        &::after {
            display: none;
        }

        & i {
            font-size: 17px;
            color: #fff;
        }

        &:hover {
            background-color: var(--primary-color) !important;
        }
    }

    & .slick-prev {
        position: absolute;
        top: 50%;
        left: 7.5% !important;
    }

    & .slick-next {
        position: absolute;
        top: 50%;
        right: 7.5% !important;
    }

}