@import '../../responsive.scss';

.shopping-carts {
    display: none;
    max-height: 713px;
    width: 430px;
    background-color: #fff;
    position: absolute;
    top: 40px;
    right: 0px;
    padding: 20px 10px 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.23);
    border-radius: 2px;
    animation: fadeIn ease-in 0.2s;

    &::after {
        content: "";
        position: absolute;
        top: -29px;
        right: 15px;
        border-style: solid;
        border-width: 20px 20px;
        border-color: transparent transparent #fff transparent;
    }

    &.have-carts {
        & .shopping-carts__fill {
            display: block;
        }

        & .shopping-carts__empty {
            display: none;
        }
    }

    &__empty {
        color: #000;
        text-align: center;

        @include mobile() {
            padding-top: 40px;
        }

        @include mobilePro() {
            position: absolute;
            top: 60px;
            right: 0;
            left: 0;
            border: 0;
        }

        @include tablet() {
            position: absolute;
            top: 60px;
            right: 0;
            left: 0;
            border: 0;
        }

        & .cart-empty__title {
            padding-top: 20px;
            font-size: 2rem;

            @include mobile() {
                line-height: 2.3rem;
            }

            @include tablet() {
                line-height: 2.3rem;
            }
        }

        & .cart-empty__label {
            font-size: 1.6rem;
            padding: 10px 0 50px;
            display: block;
            font-weight: 500;

            @include mobile() {
                padding: 5px 0 50px;
                line-height: 2rem;
            }


            @include mobilePro () {
                padding: 0 0 50px;
            }

            @include tablet () {
                padding: 0 0 50px;
            }
        }

        & .cart-empty__min-price {
            color: #ff0000 !important;
            font-weight: 600;
        }
    }

    &__fill {
        display: none;

        & .shopping-carts__bottom {
            background-color: #f6f6f6;
            border-radius: 3px;
            width: 100%;

            & .top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                & .label {
                    padding: 20px 0 20px 15px;
                    font-size: 1.6rem;
                    color: #000;
                    font-weight: bold;
                    opacity: 0.85;
                }

                & .total-prices {
                    color: #d30e15;
                    font-size: 20px;
                    font-weight: 900;
                    padding: 20px 15px 20px 0;
                }
            }

            & .bottom {
                padding: 0 15px 15px;
                width: 100%;

                & .btn-checkout {
                    width: 100%;
                    background-color: var(--primary-color);
                    transition: all .2s ease-in-out;
                    border: 1px solid #006a31;
                    border-radius: 8px;
                    height: 45px;
                    color: #fff;
                    font-size: 1.6rem;
                    font-weight: 400;
                    text-align: center;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--second-color);
                        border-color: var(--second-color);
                    }
                }
            }

        }

        & .shopping-carts__lists {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 15px;
            padding: 0 45px 0 20px;
            max-height: 222px;
            overflow-y: auto;
            position: relative;

            &::-webkit-scrollbar {
                border-radius: 20px;
                width: 8px;
            }

            &:hover {
                &::-webkit-scrollbar {
                    display: block;
                }
            }

            &::-webkit-scrollbar-thumb {
                background-color: #aaa;
                border-radius: 20px;
            }

            &::-webkit-scrollbar-track {
                background-color: #ececec;
                border-radius: 20px;
            }


            & .shopping-carts__item {
                display: flex;
                align-items: center;
                padding: 15px 0;
                width: 100%;
                max-width: 100%;
                border-bottom: 1px solid #e1e1e1;
                position: relative;
                cursor: pointer;

                &>img {
                    width: 70px;
                    height: 70px;
                    max-width: 100%;
                    object-fit: contain;
                }

                & .item-body {
                    padding-left: 10px;
                    min-height: 80px;
                    width: 100%;

                    &__title {
                        font-size: 1.8rem;
                        color: #000;
                        font-weight: 700;
                    }

                    &__bottom {
                        font-size: 1.6rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        & .amount {
                            color: #848788;
                            font-weight: 500;
                        }

                        & .prices {
                            color: #000;
                            font-weight: 600;
                        }
                    }

                    &__middle {
                        display: flex;
                        justify-content: flex-start;
                        flex-direction: column;

                        & span {
                            color: #666666;
                            font-size: 1.4rem;
                            line-height: 1.8rem;
                            font-weight: 500;
                        }
                    }
                }

                & .btn-remove {
                    position: absolute;
                    top: 16.5px;
                    right: 0;
                    padding: 4px 4px 8px 4px;
                    background: #fff;

                    & .line {
                        position: absolute;
                        bottom: 5px;
                        left: 0;
                        width: 85%;
                        transform: translate(9%, 0);
                        height: 1.7px;
                        background-color: #ccc;
                        display: none;
                    }

                    &:hover {
                        & .line {
                            display: block;
                        }
                    }

                    & i {
                        color: #ccc;
                        font-size: 1.7rem;
                    }
                }

            }


        }
    }

}