@import '../../responsive.scss';

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    background-color: #fff;

    @include desktop() {
        & {
            margin-bottom: 28px;

        }
    }

    @include tablet() {
        box-shadow: 1px 0 20px 0 rgba(0, 0, 0, 0.15);
    }

    @include mobilePro() {
        box-shadow: 1px 0 20px 0 rgba(0, 0, 0, 0.15);
    }

    @include mobile() {
        & {
            background-color: var(--primary-color);
        }
    }

    &__container {
        max-width: 100%;
        margin: 0 auto;
        height: 144px;
        padding: 10px 15px 5px;
        width: 1200px;

        @include desktop() {
            width: 960px;
        }

        @include tablet() {
            width: 960px;
            height: 98px;
        }

        @include mobilePro() {
            height: 98px;
            width: 510px;
        }

        @include mobile() {
            height: 62px;
            width: 510px;
            padding: 10px 0px 5px;
        }

        & .header__main {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-auto-rows: 60px;
            align-items: center;

            @include desktop() {
                & {
                    margin: 16px 0;
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }

            @include tablet() {
                & {
                    margin: 16px 0;
                    grid-template-columns: 1fr 1fr;
                }
            }

            @include mobilePro() {
                & {
                    margin: 16px 0;
                    grid-template-columns: 1fr 1fr;
                }
            }

            @include mobile() {
                & {
                    grid-template-columns: 1fr 1fr;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 10px;
                }
            }

            & .logo {
                width: 247px;
                display: flex;

                @include mobile() {
                    & {
                        background-image: url('/assets/img/logo/logo-main-transparent.png');
                        background-repeat: no-repeat;
                        padding-top: 10%;
                        background-size: contain;
                        cursor: pointer;
                    }

                    & img {
                        display: none;
                    }
                }
            }

            & .mid-header {
                display: flex;
                justify-content: center;
                align-items: center;


                @include desktop() {
                    & {
                        flex-direction: column;
                    }
                }

                @include tablet() {
                    & {
                        display: none;
                    }
                }

                @include mobilePro() {
                    & {
                        display: none;
                    }
                }

                @include mobile() {
                    & {
                        display: none;
                    }
                }

                & .order {
                    border-radius: 17px;
                    background: #eee;
                    padding: 4px;
                    margin-right: 10px;
                    height: 38px;

                    @include desktop() {
                        & {
                            margin-bottom: 9px;
                        }
                    }

                    & button {
                        height: 100%;
                        line-height: 100%;
                        border-radius: 17px;
                        padding: 0 16px;
                        color: var(--text-color);
                        font-size: 1.4rem;
                        transition: all ease-in-out 0.2s;


                        @include tablet() {
                            & {
                                font-size: 1.35rem;
                            }
                        }

                        &.active {
                            color: #fff;
                            background-color: var(--second-color);
                        }

                        & i {
                            margin-right: 5px;
                        }
                    }

                }


                & .address {
                    display: none;

                    & i {
                        margin-bottom: 4px;
                    }

                    &.active {
                        height: 35px;
                        line-height: 35px;
                        border: 1px solid #919191;
                        border-radius: 17px;
                        padding-left: 18px;
                        display: flex;
                        align-items: center;

                        @include desktop() {
                            & {
                                margin-bottom: 6px;
                            }
                        }


                        &:focus-within {
                            border: 1px solid var(--primary-color);
                        }

                        & input {
                            border: none;
                            outline: none;
                            padding-left: 14px;
                            color: #8c8c8c;
                            vertical-align: middle;
                            font-size: 1.5rem;
                            height: 100%;
                            line-height: 100%;
                            border-radius: 17px;


                            &::placeholder {
                                opacity: 0.9;
                            }
                        }

                        & i {
                            font-size: 18px;
                            color: #8c8c8c;
                        }

                        & .address__lists {
                            display: block !important;
                            position: absolute;
                            top: 38px;
                            left: 0;
                            right: 0;
                            background-color: #fff;
                            overflow: auto;
                            max-height: 380px;
                            border-radius: 3px;
                            cursor: pointer;

                            &::-webkit-scrollbar {
                                width: 10px;
                            }

                            &::-webkit-scrollbar-thumb {
                                border-radius: 20px;
                                background-color: #c1c1c1;
                                height: 50%;

                                &:hover {
                                    background-color: #b5b4b4;
                                }
                            }

                            & .address__item {
                                border-bottom: 1px solid #e1e1e1;
                                border-top: 0;
                                background: #fff;
                                padding: 10px 15px;
                                color: black;
                                opacity: 0.9;
                                font-size: 1.6rem;
                                line-height: 2.2rem;

                                &:hover {
                                    opacity: 1;
                                    background: rgba(0, 106, 49, .1) !important;
                                }
                            }
                        }
                    }

                    &__lists {
                        display: none;
                    }
                }
            }

            & .right-header {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                height: 40px;
                margin-right: 6px;

                & .contain {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    @include desktop() {
                        & {
                            margin-left: 44px;
                        }
                    }

                    @include tablet() {
                        & {
                            display: none;
                        }
                    }

                    @include mobilePro() {
                        & {
                            display: none;
                        }
                    }

                    @include mobile() {
                        & {
                            display: none;
                        }
                    }
                }

                & .icon {
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    border: 2px solid #3c3c3c;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    text-align: center;

                    & i {
                        font-size: 14.5px;
                        margin-top: 4px;

                        &.fa-regular,
                        &.far {
                            font-weight: 500 !important;
                        }
                    }
                }

                & .account {
                    display: flex;
                    align-items: center;
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 3px;
                        right: -7px;
                        background-color: #ccc;
                        width: 1px;
                        height: 70%;

                        @include desktop() {
                            top: -1px;
                            width: 1.6px;
                            height: calc(100% + 2px);
                        }
                    }

                    & a {
                        font-size: 1.4rem;
                        color: var(--text-color);
                        text-decoration: none;
                        margin: 0 6px;
                        display: block;
                        position: relative;

                        @include tablet() {
                            & {
                                font-size: 1.35rem;
                            }
                        }

                        &:first-child::after {
                            content: "";
                            position: absolute;
                            top: 3px;
                            right: -7px;
                            background-color: var(--text-color);
                            width: 1px;
                            height: 70%;
                            transform: rotate(25deg);

                        }

                        &:hover {
                            text-decoration: underline;
                            color: var(--primary-color);
                        }
                    }
                }

                @include tablet() {
                    & .language {
                        display: none !important;
                    }

                    & .side-bar {
                        display: flex !important;
                        cursor: pointer;

                        &.show {
                            & .side-bar__icon {
                                & span {
                                    transition: all ease-in-out 0.15s;

                                    &.span-middle {
                                        opacity: 0 !important;
                                    }
                                }
                            }
                        }

                        &__icon {
                            width: 32px;
                            height: 32px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;

                            & span {
                                &.span-middle {
                                    opacity: 1;
                                }
                            }

                            & span {
                                width: 100%;
                                height: 4px;
                                background-color: var(--primary-color);
                            }

                        }

                        & .nav__right {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex: 1;
                            user-select: none;

                            @include desktop() {
                                & {
                                    display: none !important;
                                }
                            }


                            & .search {
                                width: 34px;
                                text-align: center;
                                padding: 8px 0;
                                margin-left: 12px;
                                cursor: pointer;
                                position: relative;

                                &.active {
                                    & .search__input {
                                        display: flex;
                                    }
                                }

                                &__input {
                                    width: 300px;
                                    max-width: 300px;
                                    height: 40px;
                                    background-color: #fff;
                                    border: 1px solid #00b041;
                                    border-radius: 20px;
                                    display: none;
                                    align-items: center;
                                    position: absolute;
                                    bottom: -80%;
                                    left: -260%;
                                    transform: translate(-50%, 64%);
                                    transition: 0.4s ease-in-out;

                                    & input {
                                        outline: none;
                                        border: none;
                                        border-radius: 20px;
                                        height: 100%;
                                        display: flex;
                                        flex: 10;
                                        padding: 0 20px;
                                        font-size: 1.4rem;
                                        font-weight: 500;
                                        color: #888888;

                                        &::placeholder {
                                            opacity: 0.7;
                                            font-size: 1.44rem;
                                            font-family: 500;
                                        }
                                    }

                                    & i {
                                        display: flex;
                                        flex: 1;
                                        color: var(--primary-color);
                                        margin-right: 4px;
                                    }
                                }

                                &__icon {
                                    color: var(--primary-color) !important;
                                    font-size: 17px;
                                }
                            }

                            & .carts {
                                min-width: auto;
                                height: 32px;
                                line-height: 32px;
                                background-color: #fff;
                                border-radius: 16px;
                                color: var(--primary-color);
                                padding: 0 14px;
                                display: flex;
                                align-items: center;
                                cursor: pointer;



                                &__icon {
                                    font-size: 19px;
                                }

                                &__label {
                                    font-size: 1.5rem;
                                    font-weight: 500;
                                    padding: 0 8px 0 6px;
                                }

                                &__amounts {
                                    display: inline-block;
                                    font-size: 1.6rem;
                                    color: #fff;
                                    background-color: var(--second-color);
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 50%;
                                    text-align: center;
                                    font-weight: 500;
                                    line-height: 24px;
                                }
                            }
                        }

                    }
                }

                @include mobilePro() {
                    & .language {
                        display: none !important;
                    }

                    & .side-bar {
                        display: flex !important;
                        cursor: pointer;

                        &.show {
                            & .side-bar__icon {
                                & span {
                                    transition: all ease-in-out 0.15s;

                                    &.span-middle {
                                        opacity: 0 !important;
                                    }
                                }
                            }
                        }

                        &__icon {
                            width: 32px;
                            height: 32px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;

                            & span {
                                &.span-middle {
                                    opacity: 1;
                                }
                            }

                            & span {
                                width: 100%;
                                height: 4px;
                                background-color: var(--primary-color);
                            }

                        }

                        & .nav__right {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex: 1;
                            user-select: none;

                            @include desktop() {
                                & {
                                    display: none !important;
                                }
                            }


                            & .search {
                                width: 34px;
                                text-align: center;
                                padding: 8px 0;
                                margin-left: 12px;
                                cursor: pointer;
                                position: relative;

                                &.active {
                                    & .search__input {
                                        display: flex;
                                    }
                                }

                                &__input {
                                    width: 300px;
                                    max-width: 300px;
                                    height: 40px;
                                    background-color: #fff;
                                    border: 1px solid #00b041;
                                    border-radius: 20px;
                                    display: none;
                                    align-items: center;
                                    position: absolute;
                                    bottom: -80%;
                                    left: -260%;
                                    transform: translate(-50%, 64%);
                                    transition: 0.4s ease-in-out;

                                    & input {
                                        outline: none;
                                        border: none;
                                        border-radius: 20px;
                                        height: 100%;
                                        display: flex;
                                        flex: 10;
                                        padding: 0 20px;
                                        font-size: 1.4rem;
                                        font-weight: 500;
                                        color: #888888;

                                        &::placeholder {
                                            opacity: 0.7;
                                            font-size: 1.44rem;
                                            font-family: 500;
                                        }
                                    }

                                    & i {
                                        display: flex;
                                        flex: 1;
                                        color: var(--primary-color);
                                        margin-right: 4px;
                                    }
                                }

                                &__icon {
                                    color: var(--primary-color) !important;
                                    font-size: 17px;
                                }
                            }

                            & .carts {
                                min-width: auto;
                                height: 32px;
                                line-height: 32px;
                                background-color: #fff;
                                border-radius: 16px;
                                color: var(--primary-color);
                                padding: 0 14px;
                                display: flex;
                                align-items: center;
                                cursor: pointer;



                                &__icon {
                                    font-size: 19px;
                                }

                                &__label {
                                    font-size: 1.5rem;
                                    font-weight: 500;
                                    padding: 0 8px 0 6px;
                                }

                                &__amounts {
                                    display: inline-block;
                                    font-size: 1.6rem;
                                    color: #fff;
                                    background-color: var(--second-color);
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 50%;
                                    text-align: center;
                                    font-weight: 500;
                                    line-height: 24px;
                                }
                            }
                        }

                    }
                }

                @include mobile() {
                    & .language {
                        display: none !important;
                    }

                    & .side-bar {
                        display: flex !important;
                        cursor: pointer;

                        &.show {
                            & .side-bar__icon {
                                position: relative;

                                & span {
                                    &.span-middle {
                                        opacity: 0 !important;
                                    }

                                    &.span-left {
                                        transition: transform ease-out 0.25s;
                                        transform: rotate(40deg);
                                        background-color: #fff;
                                        position: absolute;
                                        top: 50%;
                                        left: 0px;
                                    }

                                    &.span-right {
                                        transition: transform ease-out 0.25s;
                                        transform: rotate(-40deg);
                                        background-color: #fff;
                                        position: absolute;
                                        top: 50%;
                                        left: 0px;
                                    }
                                }
                            }
                        }

                        &__icon {
                            width: 32px;
                            height: 32px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;

                            & span {

                                // transition: transform ease-out 0.25s;
                                &.span-middle {
                                    opacity: 1;
                                }
                            }

                            & span {
                                width: 100%;
                                height: 4px;
                                background-color: var(--primary-color);

                                @include mobile() {
                                    & {
                                        background-color: #fff;
                                    }
                                }
                            }
                        }

                        & .nav__right {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex: 1;
                            user-select: none;

                            @include desktop() {
                                & {
                                    display: none !important;
                                }
                            }


                            & .search {
                                width: 34px;
                                text-align: center;
                                padding: 8px 0;
                                margin-left: 12px;
                                cursor: pointer;
                                position: relative;

                                &.active {
                                    & .search__input {
                                        display: flex;
                                    }
                                }

                                &__input {
                                    width: 300px;
                                    max-width: 300px;
                                    height: 40px;
                                    background-color: #fff;
                                    border: 1px solid #00b041;
                                    border-radius: 20px;
                                    display: none;
                                    align-items: center;
                                    position: absolute;
                                    bottom: -80%;
                                    left: -260%;
                                    transform: translate(-50%, 64%);
                                    transition: 0.4s ease-in-out;

                                    & input {
                                        outline: none;
                                        border: none;
                                        border-radius: 20px;
                                        height: 100%;
                                        display: flex;
                                        flex: 10;
                                        padding: 0 20px;
                                        font-size: 1.4rem;
                                        font-weight: 500;
                                        color: #888888;

                                        &::placeholder {
                                            opacity: 0.7;
                                            font-size: 1.44rem;
                                            font-family: 500;
                                        }
                                    }

                                    & i {
                                        display: flex;
                                        flex: 1;
                                        color: var(--primary-color);
                                        margin-right: 4px;
                                    }
                                }

                                &__icon {
                                    color: var(--primary-color) !important;
                                    font-size: 17px;

                                    @include mobile() {
                                        & {
                                            color: #fff !important;
                                        }
                                    }
                                }
                            }

                            & .carts {
                                min-width: auto;
                                height: 32px;
                                line-height: 32px;
                                background-color: #fff;
                                border-radius: 16px;
                                color: var(--primary-color);
                                padding: 0 14px;
                                display: flex;
                                align-items: center;
                                cursor: pointer;

                                @include mobile() {
                                    & {
                                        background-color: transparent;
                                        color: #fff;
                                        position: relative;
                                        margin: 0 18px;
                                    }
                                }



                                &__icon {
                                    font-size: 19px;

                                    @include mobile() {
                                        & {
                                            font-size: 20px;
                                        }
                                    }

                                }

                                &__label {
                                    font-size: 1.5rem;
                                    font-weight: 500;
                                    padding: 0 8px 0 6px;

                                    @include mobile() {
                                        & {
                                            display: none;
                                        }
                                    }
                                }

                                &__amounts {
                                    display: inline-block;
                                    font-size: 1.6rem;
                                    color: #fff;
                                    background-color: var(--second-color);
                                    width: 24px;
                                    height: 24px;
                                    border-radius: 50%;
                                    text-align: center;
                                    font-weight: 500;
                                    line-height: 24px;

                                    @include mobile() {
                                        & {
                                            position: absolute;
                                            top: -4px;
                                            right: -1px;
                                            display: inline-block;
                                            font-size: 1.5rem;
                                            color: #fff;
                                            background-color: var(--second-color);
                                            width: 22px;
                                            height: 22px;
                                            border-radius: 50%;
                                            text-align: center;
                                            font-weight: 500;
                                            line-height: 22px;
                                        }
                                    }
                                }
                            }
                        }

                    }
                }

                & .language {
                    padding-left: 21px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }


                & .side-bar {
                    display: none;
                }
            }

        }
    }
}