@mixin mobile {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin mobilePro {
    @media (min-width: 577px) and (max-width: 767px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 768px) and (max-width: 1023px) {
        @content;
    }
}

@mixin tabletPro {
    @media (min-width: 1024px) and (max-width: 1199px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1200px) {
        @content;
    }
}

.nav {
    height: 46px;
    border-radius: 20px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    padding: 0 8px;

    @include tablet() {
        & {
            display: none;
        }
    }

    @include mobilePro() {
        & {
            display: none;
        }
    }
    @include mobile() {
        & {
            display: none;
        }
    }


    &__left {
        display: flex;
        flex: 4;

        & .lists {
            display: flex;

            & .item {
                margin-right: 3px;


                &:hover {
                    border-radius: 20px;
                    background-color: #005226;
                }

                & a {
                    color: #fff;
                    font-size: 1.62rem;
                    line-height: 2.6rem;
                    text-decoration: none;
                    font-weight: 500;
                    padding: 2px 15px;

                    @include tabletPro() {
                        & {
                            padding: 2px 6px;
                        }
                    }
                }
            }
        }
    }


    &__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 1;
        user-select: none;

        & .search {
            width: 34px;
            text-align: center;
            padding: 8px 0;
            margin-left: 30px;
            cursor: pointer;
            position: relative;

            @include tabletPro() {
                & {
                    margin-left: 6px;
                }
            }

            &.active {
                & .search__input {
                    display: flex;
                }
            }

            &__input {
                width: 300px;
                max-width: 300px;
                height: 40px;
                background-color: #fff;
                border: 1px solid #00b041;
                border-radius: 20px;
                display: none;
                align-items: center;
                position: absolute;
                bottom: -80%;
                left: -260%;
                transform: translate(-50%, 64%);
                transition: 0.4s ease-in-out;

                & input {
                    outline: none;
                    border: none;
                    border-radius: 20px;
                    height: 100%;
                    display: flex;
                    flex: 10;
                    padding: 0 20px;
                    font-size: 1.4rem;
                    font-weight: 500;
                    color: #888888;

                    &::placeholder {
                        opacity: 0.7;
                        font-size: 1.44rem;
                        font-family: 500;
                    }
                }

                & i {
                    display: flex;
                    flex: 1;
                    color: var(--primary-color);
                    margin-right: 4px;
                }
            }

            &__icon {
                color: #fff;
                font-size: 17px;
            }
        }

        & .carts {
            min-width: auto;
            height: 32px;
            line-height: 32px;
            background-color: #fff;
            border-radius: 16px;
            color: var(--primary-color);
            padding: 0 10px;
            display: flex;
            align-items: center;
            cursor: pointer;

            @include tabletPro() {
                & {
                    padding: 6px;
                }
            }

            &__icon {
                font-size: 19px;
            }

            &__label {
                font-size: 1.5rem;
                font-weight: 500;
                padding: 0 8px 0 6px;
            }

            &__amounts {
                display: inline-block;
                font-size: 1.6rem;
                color: #fff;
                background-color: var(--second-color);
                width: 24px;
                height: 24px;
                border-radius: 50%;
                text-align: center;
                font-weight: 500;
                line-height: 24px;
            }
        }
    }
}